ion-tabs {
   --ion-background-color: #f4f4f4; 
 }
 
 ion-tab-bar {
   --background: #f7d0d0;  }
 
 ion-tab-button {
   --color-selected: #af434f; 
   --color: #5d5d5d;  
   font-size: 14px; 
   font-weight: bold;
 }
 
 ion-tab-button ion-icon {
   font-size: 24px; 
 }
 
 ion-title {
   font-size: 1.5em; 
 }

