ion-title,
.resumen-title {
  color: rgb(156, 84, 84);
  font-weight: 700;
}

ion-title {
  color: rgb(156, 84, 84); 
  font-weight: 700;
}

.disclaimer-section {
  background-color: #f9eeee; 
  padding: 10px;
  margin-top: 25px;
  text-align: center;
  font-size: 0.8rem; 
  color: gray;
}

.disclaimer-text {
  margin: 0; 
}