/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #af434f;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #853a3a;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #af434f;
  --ion-color-primary-tint: #af434f;

  /** secondary **/
  --ion-color-secondary: #f7bed3;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #b83838;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #ffcffa;
  --ion-color-secondary-tint: #f8bdf9;

  /** tertiary **/
  --ion-color-tertiary: #af434f;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #884949;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #af434f;
  --ion-color-tertiary-tint: #af434f;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #c56161;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #af434f;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #b55d5d;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #af434f;
  --ion-color-dark-tint: #af434f;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #9a6565;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #eeabe6;

  /** light **/
  --ion-color-light: #f8f8f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #bd52ac;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #f3abe0;
  --ion-color-light-tint: #fabcf2;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #969294;  /* Gris rosado claro */
    --ion-color-primary-rgb: 212, 157, 193;
    --ion-color-primary-contrast: #5a3b4c;  /* Rosa oscuro */
    --ion-color-primary-contrast-rgb: 90, 59, 76;
    --ion-color-primary-shade: #8f8e8e;  /* Gris rosado medio */
    --ion-color-primary-tint: #888687;  /* Rosa pálido */

    --ion-color-secondary: #6f6f6f;  /* Gris rosado oscuro */
    --ion-color-secondary-rgb: 196, 129, 168;
    --ion-color-secondary-contrast: #6a5262;  /* Rosa oscuro */
    --ion-color-secondary-contrast-rgb: 106, 82, 98;
    --ion-color-secondary-shade: #aca9ab;  /* Gris rosado medio */
    --ion-color-secondary-tint: #bab7b8;  /* Rosa pálido */

    --ion-color-tertiary: #868485;  /* Gris rosado oscuro */
    --ion-color-tertiary-rgb: 179, 127, 146;
    --ion-color-tertiary-contrast: #ffffff;  /* Blanco */
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #8a8788;  /* Gris rosado medio */
    --ion-color-tertiary-tint: #959394;  /* Rosa pálido */

    --ion-color-success: #8de3b0;  /* Verde pálido */
    --ion-color-success-rgb: 141, 227, 176;
    --ion-color-success-contrast: #6f6d6d;  /* Negro */
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #7ecb9a;  /* Verde medio */
    --ion-color-success-tint: #9df2c2;  /* Verde claro */

    --ion-color-warning: #ffd4a5;  /* Amarillo pálido */
    --ion-color-warning-rgb: 255, 212, 165;
    --ion-color-warning-contrast: #5b5a5a;  /* Negro */
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0b58a;  /* Amarillo medio */
    --ion-color-warning-tint: #ffe1ba;  /* Amarillo claro */

    --ion-color-danger: #ff9cb5;  /* Rosa pálido */
    --ion-color-danger-rgb: 255, 156, 181
  }}
