@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #8f4052;  /* Rojo oscuro */
    --ion-color-primary-rgb: 143, 64, 82;
    --ion-color-primary-contrast: #853a3a;  /* Marrón oscuro */
    --ion-color-primary-contrast-rgb: 133, 58, 58;
    --ion-color-primary-shade: #7a3949;  /* Rojo oscuro */
    --ion-color-primary-tint: #a44b5d;  /* Rojo medio */

    --ion-color-secondary: #2a8cb3;  /* Azul oscuro */
    --ion-color-secondary-rgb: 42, 140, 179;
    --ion-color-secondary-contrast: #2a7a99;  /* Azul medio */
    --ion-color-secondary-contrast-rgb: 42, 122, 153;
    --ion-color-secondary-shade: #257aa1;  /* Azul oscuro */
    --ion-color-secondary-tint: #3d9ec1;  /* Azul claro */

    --ion-color-tertiary: #8f4052;  /* Rojo oscuro */
    --ion-color-tertiary-rgb: 143, 64, 82;
    --ion-color-tertiary-contrast: #884949;  /* Marrón oscuro */
    --ion-color-tertiary-contrast-rgb: 136, 73, 73;
    --ion-color-tertiary-shade: #7a3949;  /* Rojo oscuro */
    --ion-color-tertiary-tint: #a44b5d;  /* Rojo medio */

    --ion-color-success: #228b4d;  /* Verde oscuro */
    --ion-color-success-rgb: 34, 139, 77;
    --ion-color-success-contrast: #2a7a99;  /* Azul medio */
    --ion-color-success-contrast-rgb: 42, 122, 153;
    --ion-color-success-shade: #1f7a58;  /* Verde oscuro */
    --ion-color-success-tint: #3d9e6f;  /* Verde medio */

    --ion-color-warning: #cc9c00;  /* Amarillo oscuro */
    --ion-color-warning-rgb: 204, 156, 0;
    --ion-color-warning-contrast: #b38700;  /* Amarillo medio */
    --ion-color-warning-contrast-rgb: 179, 135, 0;
    --ion-color-warning-shade: #aa8700;  /* Amarillo oscuro */
    --ion-color-warning-tint: #d2ae00;  /* Amarillo medio */

    --ion-color-danger: #b04055;  /* Rojo oscuro */
    --ion-color-danger-rgb: 176, 64, 85;
    --ion-color-danger-contrast: #884949;  /* Marrón oscuro */
    --ion-color-danger-contrast-rgb: 136, 73, 73;
    --ion-color-danger-shade: #9a394a;  /* Rojo oscuro */
    --ion-color-danger-tint: #b84c5e;  /* Rojo medio */

    --ion-color-dark: #8f4052;  /* Rojo oscuro */
    --ion-color-dark-rgb: 143, 64, 82;
    --ion-color-dark-contrast: #884949;  /* Marrón oscuro */
    --ion-color-dark-contrast-rgb: 136, 73, 73;
    --ion-color-dark-shade: #7a3949;  /* Rojo oscuro */
    --ion-color-dark-tint: #a44b5d;  /* Rojo medio */

    --ion-color-medium: #6a6e78;  /* Gris medio */
    --ion-color-medium-rgb: 106, 110, 120;
    --ion-color-medium-contrast: #9a6565;  /* Marrón oscuro */
    --ion-color-medium-contrast-rgb: 154, 101, 101;
    --ion-color-medium-shade: #808289;  /* Gris medio */
    --ion-color-medium-tint: #7b8ed3;  /* Azul pálido */

    --ion-color-light: #4a4e53;  /* Gris oscuro */
    --ion-color-light-rgb: 74, 78, 83;
    --ion-color-light-contrast: #ffffff;  /* Blanco */
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #42464b;  /* Gris oscuro */
    --ion-color-light-tint: #596067;  /* Gris medio */
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #533b4c;  /* Marrón oscuro */
    --ion-background-color-rgb: 83, 59, 76;

    --ion-text-color: #ffffff;  /* Blanco */
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #9e8c9d;  /* Marrón medio */

    --ion-card-background: #aa879c;  /* Marrón oscuro */
  }

}
